# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# IntelliJ
.idea/
/out/
*.iml

# Project specific direcotry
.publish/
dist/
example/
publish/
src/
test/
