# Logs
logs
*.log
npm-debug.log

# Dependency directory
node_modules

# For VSCode
.vscode/

# For JetBrains IDEs
.idea
*.iml

# For GitHub Pages (gh-pages branch)
.publish
publish

# Thumbnails
.DS_Store
Thumbs.db

# Caches
.awcache/
.nyc_output/
.rpt2_cache/
coverage/
dist/
docs/
