language: node_js
node_js:
  - 0.10

before_install:
  - npm install -g gulp

script:
  - gulp test

after_script:
  - gulp coverage && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
